@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
*{
    font-family: "Jura", sans-serif;
}

/* Стили для меню */
        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
            overflow: hidden;
            border: 1px solid #ddd; 
        }
        
        .menu li{
            float: left;
        }
        
        .menu li a {
            display: block;
            color: #333;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            border-right: 1px solid #ddd; 
            margin: auto;
            background-color: #fff;
            transition: 0.5s;
        }
        
        
        .menu li a:hover {
            background-color: #ddd;
            border-bottom: 1px solid #333; /* Эффект подчеркивания при наведении */
            transform: scale(1.2);
        }
        
        /* Адаптивность для мобильных */
        @media screen and (max-width: 600px) {
            .menu li {
                float: none;
                width: 100%;
            }
            .menu li a {
                border-right: none;
                border-bottom: 1px solid #bbb;
            }
        }